$primary: #333;

$secondary-10: #555;
$secondary-20: #777;
$secondary-30: #999;

$text-color: #000;
$black: #000;
$white: #fff;

$error: #da1e28;
$success: #00a651;
$warning: #ff832b;
$info: #00a651;

$eye-catcher: #ff5858;
$eye-catcher-eco: #01c8b0;

$bg-default: #f5f5f5;
$bg-main: #fff;
$bg-dark: #000;
$bg-emphasized: #f5f5f5;
$bg-brand: #333;
$bg-button-primary: #000;
$bg-button-active: #666;
$bg-button-disabled: #999;
$bg-button-hover: #666;
$bg-button-secondary: #fff;

$button-shadow: #333 0 0 8px;
$button-font-size: 1rem;
$button-primary-color: #fff;
$button-secondary-color: #666;
$button-secondary-border-color: #000;

$link-default: #666;
$link-hover: #333;
$link-active: #333;
$link-visited: #333;
$link-focus: #666;
$link-underline: #333;
$link-outline: #333;
